.header {
    height: 60px;
    width: 100%;
    display: flex;
    background: #3C4037;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px
}

.header__logo {
    width: max-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo_text {
    margin-left: 10px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 900;
}

.header__control_avatar {
    cursor: pointer;
    height: 43px;
    object-fit: cover;
    width: 43px;
    border-radius: 50%;
}

