.header {
    width: 100%;
    background: white;
    padding: 15px 0 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bag_img, .header__logo_img {
    filter: invert();
}

.header__logo {
    width: max-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo_text {
    margin-left: 10px;
    color: black;
    font-size: 28px;
    font-weight: 900;
}

.header__control_avatar {
    cursor: pointer;
    height: 43px;
    object-fit: cover;
    width: 43px;
    border-radius: 50%;
}

.bag__btn {
    cursor: pointer;
    height: 43px;
    width: 43px;
}
