.header {
    height: 60px;
    width: 100%;
    display: flex;
    background: #090C02;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px
}

.header__logo {
    width: max-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo_text {
    margin-left: 10px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 900;
}

.header__control_avatar {
    cursor: pointer;
    height: 43px;
    object-fit: cover;
    width: 43px;
    border-radius: 50%;
}

.bag__btn {
    cursor: pointer;
    height: 43px;
    width: 43px;
    border-radius: 10%;
    margin-left: 25px;
    background: #4C6085;
}

.header__bag_img {
    display: block;
    margin: auto;
}

.header__flexbox {
    display: flex;
}
