@import "../../../globals";

.drop-down-menu {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    font-size: 16px;
    font-weight: 900;

    div {
        cursor: pointer;
        padding: 5px 10px;
        border: solid 1px #f1f1f1;
        margin: 5px 0;
        border-radius: 10px;
        transition: box-shadow $fast, background $fast;
    }
}

#drop-down-settings-btn:hover {
    background: #f1f1f1;
    @include neo(100px, $black-shadow-color, $radius);
}

#drop-down-exit-btn:hover {
    background: $red;
    border-color: $red;
    @include neo(100px, $red-shadow, $radius);
}
