.grid-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.grid-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    align-items: center;
}

.grid-field label {
    text-align: end;
}

.grid-field__error {
    text-align: center;
    margin-top: 5px;
    color: red;
    font-size: 12px;
}

.grid-field__input {
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #b5b5b5,
        -5px -5px 10px #ffffff;
}
