@import "../../globals";

.currency-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  img {
    @include square(45px);
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  p {
    margin-top: 5px;
    color: gray;
  }
}
