#message {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: visible;
}

.message {
    background: white;
    z-index: 10000;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 10px;
    padding: 10px 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
