.btn {
    background: rgba(230, 230, 230, 100);
    border-radius: 50px;
    text-align: center;
    font-size: 27px;
    padding: 10px;
    margin: 10px;
}

.flex-menu {
    display: flex;
}

.flex-left {
    display: flex;
}
