.btn {
    background: rgba(230, 230, 230, 100);
    border-radius: 50px;
    text-align: center;
    font-size: 27px;
    padding: 10px;
    margin: 10px;
}

.flex-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.flex-left {
    display: flex;
}

.flex-right {
    display: flex;
}

@media screen and (max-width: 400px) {
    .btn {
        font-size: 14px;
    }
}
