* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
    color: blueviolet;
    text-decoration: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.hidden-wrapper {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fix {
    position: fixed;
}

.modal {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #ebebeb;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 450px;
    margin: 0 15px;
}

.modal.auth {
    max-width: 330px;
}

.modal__bottom-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__bottom-wrapper.auth {
    flex-flow: column;
}

.modal>.modal__title {
    text-align: center;
    margin-bottom: 15px;
}

input[type=email], input[type=password] {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}


